@import 'bourbon/bourbon';
@import 'compass';

$font1: 'tenso';
$font2: 'prenton-condensed';

body {
  background-color: #efefef;
  font-family: $font1;
}

h1 {
  font-family: $font2;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  color: #444;
}

.intro {
  font-family: $font1;
  font-style: italic;
  font-size: 1em;
  color: rgba(0,0,0,0.66);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  margin: 0;
  padding: 0;
}

.first {
	padding: 50px 0;
}

.second {
	background-color: #fff;
	padding: 15px 15px 0 15px;
}

h2 {
  font-family: $font1;
  font-style: italic;
}

h3, h4 {
  font-family: $font1;	
}

.blog-post {
	background-color: rgba(255,255,255,0.8);
	padding: 15px;
	@include border-radius(8px);
	display: inline-block;
	color: #666;
	font-size: 1.25em;
	
	h4 {
		border-top: 1px dotted #ccc;
		margin-top: 5px;
		padding-top: 5px;		
	}
}

.box {
	background-color: rgba(0,0,0,0.75);
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	min-height: 250px;
	position: relative;
	overflow: hidden;
  
  h2 {
    font-size: 1em;
    margin: 0;
    padding: 0 15px 0 0;
    color: #1e4b69;
    font-weight: normal;
	position: absolute;
	bottom: 20px;
  }

  img {
    margin: 10px 0;
  }

  .years {
    font-size: 11.5em;
    line-height: 1.165em;
    font-weight: bold;      
  }
  
  &.me {
    background-image: url('../images/me.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    h2 {
	    color: rgba(255,255,255,0.75);
		position: absolute;
		bottom: 20px;
		text-align: center;
		width: 100%;
		padding-right: 15px;
		background-color: rgba(0,0,0,0.5);
		@include border-radius(4px 0 0 4px);
		
		a {
	    	color: #fff;
	    	text-decoration: underline;
		}
    }
  }

  &.fanbase {
    
    h2 {
      color: #efefef;
    }
    
    img {
	    margin-top: 70px;
    }
  }

  &.mixwest {
    
    h2 {
      color: #efefef;
    }
  }

  &.speaking {
    background-image: url('../images/speaking.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -90px 0;
    

  }
  
  &.alive {
    background-color: #F1C40F;
    
    h2, .years {
      color: rgba(0,0,0,0.6);
    }
    
  }

}

.footer {
  padding: 15px 0 0 0;
  
  .icons {
    font-size: 3em;
    @include transition (all 0.1s ease-in-out);
    
    a {
		color: rgba(0,0,0,0.33);    
    }
    
    .fa:hover {
      font-size: 1.1em;
	  color: rgba(0,0,0,0.66);    
      @include transition (all 0.1s ease-in-out);
    }
  }

}

.overlay {
  border-radius: 20px;
  box-shadow: 0 0 0 20px rgba(0,0,0,0.1);  
}

.hidden {
  display: none;
}

@media only screen and (min-width: 40.063em) {
	
	h1 {
	  font-size: 6em;
	}

	.intro {
	  font-size: 2em;
	}
	
	.second {
		padding: 15px 0 0 0;	
	}

	.box {
		min-height: 287px;	
	}
} /* min-width 641px, medium screens */
